

.genric{
    text-align: center;
    background-color: rgb(80, 38, 207);
    width: 100%;
    border:1px solod red;
    margin-top:3%;
    height: 200px;
    color:white;   
}
.genrics{
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    align-items: center;

    background-color: rgb(151, 118, 252);
    width: 100%;
    border:1px solod red;
    margin-top:2%;
    height: 500px;
    color:white;  
}

.box{
    margin-top: 2%;
    border:1px solid rgb(233, 233, 11);
    width:20%;
  margin: auto;
}

